<!doctype html>
<html class="no-js" data-ng-app="auth">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<title>EyeAdmin - вход</title>
<!-- Favicon-->
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">

<!-- Custom Css -->
<link rel="stylesheet" href="assets/css/main.css">    
<link rel="stylesheet" href="assets/css/color_skins.css">
</head>
<body class="theme-cyan">
<div class="authentication sidebar-collapse">
   
    <div class="page-header">
        <div class="container">
            <div class="col-md-12 content-center" data-ng-controller="authController">
                <div class="card-plain">
                    <form class="form" data-ng-submit="auth()">
                        <div class="header">
                            <div class="logo-container expandUp">
                                <img src="assets/images/eye.png" alt="">
                            </div>
                            <h5>Вход</h5>
                        </div>
                        <div class="content">                                                
                            <div class="input-group input-lg">
                                <input type="text" class="form-control" placeholder="Введите логин" data-ng-model="login">
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-account-circle"></i>
                                </span>
                            </div>
                            <div class="input-group input-lg">
                                <input type="password" placeholder="Введите пароль" class="form-control" data-ng-model="password"/>
                                <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-primary btn-round btn-lg btn-block ">Вход</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Jquery Core Js -->
<script src="assets/bundles/libscripts.bundle.js"></script>
<script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

<script src="app/js/vendor/angular.js"></script>
<script src="app/js/vendor/angular-route.js"></script>
<script src="app/js/scripts/auth.js"></script>

</body>
</html>