<section class="content profile-page">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Страница пользователя</h2>
            </div>
        </div>
    </div>    
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card profile-header bg-dark">
                    <div class="body col-white">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-12">
                                <div class="profile-image float-md-right"> <img src="assets/images/profile_av.jpg" alt=""> </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-12">
                                <h4 class="m-t-0 m-b-0"><strong>Таулан</strong> Кипкеев</h4>
                                <span class="job_post">eyeinc@rambler.ru</span>
                                <div>
                                    <button class="btn btn-danger btn-round">Удалить</button>
                                    <button class="btn btn-primary btn-round btn-simple">Изменить</button>
                                </div>
                            </div>                            
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <ul class="row profile_state list-unstyled">
                        <li class="col-lg-2 col-md-4 col-6">
                            <div class="body">
                                <i class="zmdi zmdi-favorite"></i>
                                <h5 class="m-b-0 number count-to" data-from="0" data-to="2365" data-speed="1000" data-fresh-interval="700">2365</h5>
                                <small>Лайков</small>
                            </div>
                        </li>
                        <li class="col-lg-2 col-md-4 col-6">
                            <div class="body">
                                <i class="zmdi zmdi-accounts-list"></i>
                                <h5 class="m-b-0 number count-to" data-from="0" data-to="1203" data-speed="1000" data-fresh-interval="700">1203</h5>
                                <small>Подписчика</small>
                            </div>
                        </li>
                        <li class="col-lg-2 col-md-4 col-6">
                            <div class="body">
                                <i class="zmdi zmdi-camera"></i>
                                <h5 class="m-b-0 number count-to" data-from="0" data-to="324" data-speed="1000" data-fresh-interval="700">324</h5>
                                <small>Камеры</small>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card bg-dark">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#write" aria-expanded="true">Написать</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#letters" aria-expanded="false">Письма</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#from" aria-expanded="false">Жалобы от аккаунта</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#to" aria-expanded="false">Жалобы на аккаунт</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="write" aria-expanded="true">
                        <div class="card">
                            <div class="body">
                                <div class="form-group">
                                    <textarea rows="4" class="form-control no-resize" placeholder="Введите текст сообщения..."></textarea>
                                </div>
                                <div class="post-toolbar-b m-b-20">
                                    <button class="btn btn-primary btn-round">Отправить</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div role="tabpanel" class="tab-pane" id="letters" aria-expanded="false">
                        <div class="card">
                            <div class="body post-box">                                                               
                                <h5 class="m-t-0 m-b-0 post_title">It is a long established fact that a be distracted</h5>                                
                                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>                                
                                <hr>
                            </div>
                            <div class="body post-box">                                                               
                                <h5 class="m-t-0 m-b-20 post_title">need to be sure there isn't anything embarrassing</h5>                                
                                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>                                
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="from" aria-expanded="false">
                        <div class="card">
                            <div class="body post-box">                                                              
                                <h5 class="m-t-0 m-b-0 post_title">It is a long established fact that a be distracted</h5>                                
                                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>                                
                                <div class="form-group m-b-0">
                                    <button class="btn btn-primary btn-simple btn-round">Подрообнее</button>
                                </div>
                                <hr>
                            </div>
                            <div class="body post-box">                                                               
                                <h5 class="m-t-0 m-b-0 post_title">need to be sure there isn't anything embarrassing</h5>                                
                                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>                                
                                <div class="form-group m-b-20">
                                    <button class="btn btn-primary btn-simple btn-round">Подрообнее</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="to" aria-expanded="false">
                        <div class="card">
                            <div class="body post-box">                                                                
                                <h5 class="m-t-0 m-b-0 post_title">It is a long established fact that a be distracted</h5>                                
                                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>                                
                                <div class="form-group m-b-0">
                                    <button class="btn btn-primary btn-simple btn-round">Подрообнее</button>
                                </div>
                                <hr>
                            </div>
                            <div class="body post-box">                                                               
                                <h5 class="m-t-0 m-b-0 post_title">need to be sure there isn't anything embarrassing</h5>                                
                                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>                                
                                <div class="form-group m-b-20">
                                    <button class="btn btn-primary btn-simple btn-round">Подрообнее</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>